{
  "root": true,
  "extends": [
    "emarsys"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "angular": true,
    "expect": true,
    "inject": true,
    "onmessage": true,
    "sinon": true
  },
  "rules": {
    "no-unused-expressions": 0
  }
}
